@font-face {
    font-family: "Rick-Morty";
    src: url("./fuentes/get_schwifty.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0;
    font-family:Roboto;
}

/* header */
header {
    background-color: #321250;
    width:100%;
    height:50px;
    padding:20px 0;
    display:flex;
    justify-content:center;
}

header .container-title {
    width: 300px;
    height: 50px;
    /* transform: skew(-20deg); */
    display:flex;
    align-items:center;
    justify-content:center;
  }

header .title {
    font-family: Rick-Morty;
    font-size:38px;
    font-weight: bold;
    letter-spacing: 4px;
    color:#42b5cb;
    padding:0 20px;
    text-shadow: 1px 1px 0px #bfdf43, -1px 1px 0px #bfdf43, 1px -1px 0px #bfdf43, -1px -1px 0px 
    #bfdf43;
}



/* hero */
body .hero {
    height:400px;
    background-image: url(./imagenes/thumb-1920-942064.jpg);
    background-size:cover;
}

main {
    width:100%;
}



/* contenedor elementos busqueda */
main .container-busqueda {
    padding: 20px 10px;
    display:flex;
    flex-direction:column;
}

.container-input-busqueda {
    display:flex;
    flex-direction:column;
    position:relative;
}

.container-input-busqueda label {
    font-size:25px;
    font-weight:bold;
    letter-spacing: 1px;
    color:#2f2f2f;
    padding:10px;
}

.container-input-busqueda input {
    font-size:25px;
    letter-spacing:2px;
    padding: 10px 40px;
    border:0;
    border-bottom: 2px solid #000000;
}

.container-input-busqueda #lupa {
    position:absolute;
    top:60%;
    left:10px;
}

.container-selects {
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
    width: 100%;
    padding: 20px 0;
    height:150px;
}


.container-selects label {
    font-size:15px;
    font-weight:bold;
    letter-spacing: 1px;
    color:#4c4c4c;
}


 .container-selects select {
    color:#000000;
    font-size:15px;
    letter-spacing: 1px;
    border:0;
 }


 .container-busqueda button {
    font-size:20px;
    letter-spacing: 2px;
    padding: 10px;
    margin-top:10px;
    width:100%;
    border:0;
    border-radius:10px;
 }

 .container-busqueda #boton-buscar {

    background-color: #7237ab;
    color: white;
 }

 .container-busqueda #boton-limpiar {
    border:1px solid #7237ab;
    color: #7237ab;
 }



/* contenedor resultados y cantidad de resultados */
main .container-cantidad-resultados {
    padding: 20px 10px;
    display:flex;
    flex-direction:column;
}

.container-cantidad-resultados h2 {
    color:#4c4c4c;
    margin:5px 0;
}

.container-cantidad-resultados span {
    color:#5f5f5f;
    margin:5px 0;
}



/* contenedor cards de personajes */
 #container-resultados {
    display:flex;
    width:100%;
    margin-top:20px;
    flex-wrap:wrap; 
    justify-content:space-around;
    align-items:center;
}

#container-resultados .personaje {
    width:300px;
    height:300px;
    margin:0 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#container-resultados .personaje img {
    height: 15rem;
    width:15rem;
}

#container-resultados .personaje h3{
    margin:15px;
    font-family: Rick-Morty;
    color:#42b5cb;
}

#container-resultados .episodio {
    width:300px;
    height:100px;
    margin:10px 20px;
    padding:10px;
    border:1px solid #4c4c4c;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: start;
}

#container-resultados .episodio h3 {
    font-family:Roboto;
    color:#343434;
    margin:5px 0;
}

#container-resultados .episodio span {
    font-family:Roboto;
    color:#4c4c4c;
}





/* botones de paginacion */
.container-botones {
    display:flex;
    justify-content: center;
}

.container-botones button {
    font-size:30px;
    margin:2px;
    margin-bottom:20px;
    width:60px;
    border:0;
    border-radius:10px;
    background-color: #7237ab;
    color: white;
 }



 /* footer */
body footer {
    height:100px;
    background-color: #321250;
    display:flex;
    justify-content:center;
    align-items:center;
}

footer span {
    font-family: Rick-Morty;
    color:#bfdf43;
}